.account-page-container {
  height: 100vh;
  width: 100vw;
  background-image: url("../../../../assets/images/Mon-compte.png");
  background-size: cover;
}
// its just a fake background to look like account component
