$primary : #2BB572;
$secondary: #10422C;
$third: #FFD600;
$forth: #186841;
$gray: #414364;
$lightGray: #8F90A6;
$dark : #28293D;
$blue : #3B5899;

$dark-1dg : #1B1C34;
$dark-2dg : #272943;
$dark-3dg : #424242;
$dark-4dg : #606060;
$dark-5dg : #4c4747 ;
